<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Book_ticket</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Multi-step-form.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body> <br> <br> <br> <br>
    <section class="containerr">

        <div id="progress-bar-button" class="multisteps-form"></div>
        <div id="multistep-start-row" class="row">
            <div id="multistep-start-column" class="col-12 col-lg-8 m-auto">



                <form id="main-form" class="multisteps-form__form" action="/some" , method="POST">
                    <div id="single-form-next" class="multisteps-form__panel shadow p-4 rounded bg-white js-active"
                        data-animation="scaleIn">
                        <h3 class="text-center multisteps-form__title" id="ticketss" style="font-size:50px;">Payments</h3>
                        <div>

                           Make a payment to confirm your seat	&#x2764;
                           
                           <p>
                            Please send Rs.750  to UPI id : 8762406259@apl { SUJAY ADKESAR }  To confirm the Booking A Printable PDF ticket will be sent to your email <b><%= details.email %></b>                      
                            upon payment completion. So please ensure you provide a valid email address.

                            Note: If you havent made a deposit by 3 days your reservation will be cancelled.
                           </p>

                        </div>
                        <div id="form-content" class="multisteps-form__content">
                            <div class="d-md-flex justify-content-evenly justify-content-md-start align-items-md-start form-row mt-4"
                                id="input-grp-double"> <br> <br> <br>

                                <div id="next-button" class="button-row d-flex mt-4">
                              <!--     <a class="btn btn btn-primary ml-auto js-btn-next" title="Next"
                                        href="Select BUS/index.html">Next</a>&nbsp; -->
                                        
                                        <a class="btn btn btn-primary ml-auto js-btn-next" title="Next"
                                        href="/">Home</a>
                                        
                                </div>
                            </div>
                        </div>
                </form>
    </section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/Multi-step-form.js"></script>
</body>

</html>